@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border-subtle;
  }

  body {
    @apply bg-primary text-text-primary font-body;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading;
  }
}

@layer utilities {
  .scrollbar-thin {
    scrollbar-width: thin;
    scrollbar-color: #2a2a2a transparent;
  }

  .scrollbar-thin::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  .scrollbar-thin::-webkit-scrollbar-thumb {
    background-color: #2a2a2a;
    border-radius: 3px;
  }
}
